@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 nav {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    padding: 0px 50px; 
  }
  .logo {
    width: 105px;
  height: auto;
  padding: 5px 20px;
  position: fixed;
  }
  .navbar ul {
    float: right;
    margin-right: 20px;
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
  }
  .navbar ul li a {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 6px 13px;
    color: rgb(255, 204, 0);
    font-family: "Roboto", sans-serif;
  }
  .navbar ul li a.active,
  .navbar ul li a:hover {
    background: rgb(255, 204, 0);
    border-radius: 2px;
    color: rgb(82,82,82);
    transition: 0.4s;
  } 
  .heading{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .content{
    height: 20vh;
   padding: 0vh 40vh;
  }
  .aboutimage{
    padding: 0vh 40vh;
    width: calc(100vw-80vh);
    height: 700px;
  }