@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.641);
}
.logo {
  width: 70px;
  height: auto;
  padding: 5px 80px;
  position: fixed;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
.navbar ul li a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  padding: 6px 13px;
  color: rgb(255, 204, 0);
  font-family: "Roboto", sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  background: rgb(255, 204, 0);
  border-radius: 2px;
  color: rgb(82, 82, 82);
  transition: 0.4s;
}
.heading {
  padding: 20vh 20vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: "Ubuntu", sans-serif;
  color: rgb(149, 28, 28);
}
.description {
  padding-left: 8vw;
  display: flex;
  justify-content: space-evenly;
  width: vw;
  font-size: x-large;
}
.wixform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
}
.wixpara {
  width: 30vw;
}
td {
  padding: 0px 5px;
}
#name {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#email {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#phone {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 10% 90%;
}
.greetings {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msg-btn {
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
  background-color: rgb(255, 0, 68);
}
.msg-btn:hover {
  background-color:#ffea00;
  transition: ease-out 0.4s;
  color: black;
}
.greetings{
  width: 500px;
  display: flex;
  flex-direction: column;
}
.thank{
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}